.sidenav {
    height: 100%; 
    width: 8%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #156492; 
    overflow-x: hidden; 
    padding-top: 10px;
    text-align: center;
    align-items: center;
  }

  .sidenav b {
    padding: 0px 0px 10px 0px;
  }
  
  .sidenav a {
    padding: 20px 0px 10px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #E5E5E5;
    display: block;
  }
  
  .sidenav a:hover {
    background-color:lightsteelblue;
  }
  
  .main {
    margin-left: 8%;
    padding: 0px;
  }

  .symbol {
    max-width: 80%;
    height: auto;
  }

  .header {
    color: white;
    font-size: 40px;
    background-color:#71ACCE;
    font-family: "Verdana", sans-serif;
    padding: 0px 0px 5px 5px;
    height: 75px;
    text-align: left;
    vertical-align: bottom;
  }